{% load static %}
        <!-- Google Web Fonts -->
        {% include 'style/style/_goglestyle.html' %}
        <!-- Icon Font Stylesheet -->
        {% include 'style/style/_iconstyle.html' %}
        <!-- Libraries Stylesheet -->
        {% include 'style/style/_style.html' %}
        <!-- Customized Bootstrap Stylesheet -->
        {% include 'style/style/_custunumstyle.html' %}
        <!-- Template Stylesheet -->
        {% include 'style/style/_templatestyle.html' %}

    <!-- JavaScript Libraries -->
    {% include 'style/js/_script.html' %}
    <!-- Template Javascript -->
    {% include 'style/js/_templatescript.html' %}